.wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    border: 1px solid red;
    &__btn {
        width: 48px;
        height: 48px;
        
        background-image: url("../../../../public/icons/btn-back.svg");
    border: none;
    background-color: white;
    cursor: pointer;
    }
    &__title {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 12px;
    }
}
