@import "@/shared/styles/styles";

.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  @include text-typing-l;
  margin-bottom: 16px;
  align-self: flex-start;
  color: $color-text;
}

.trigger {
  @include text-typing-l;
  width: 100%;
  padding: 16px 8px;
  display: flex;
  justify-content: flex-start;
  color: $color-text;
  border-radius: $border-radius-m;
  background-color: $color-filed-grey-default;
  transition: $transition-m;

  &:before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url('/icons/arrow_down.svg');
    background-repeat: no-repeat;
    transition: $transition-m;
    position: absolute;
    right: 8px;
  }

  &_active {
    border: 1px solid $color-black;
    background-color: $color-white;

    &:before {
      transform: rotate(180deg);
    }
  }

  &_error {
    border-color: $color-red;
    color: $color-red;
  }

  &_disabled {
    opacity: $opacity-m;
    cursor: not-allowed;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  @include text-typing-s;
  padding: 14px 8px;
  color: $color-black;
  transition: $transition-m;
  cursor: pointer;

  &:hover {
    background-color: $color-hover-link-brn;
  }

  &_active {
    background-color: $color-hover-secondary-btn;
  }
}

.error {
  @include text-typing-s;
  margin-top: 4px;
  display: block;
  color: $color-red;
}