@import "@/shared/styles/styles";

.wrapper {
    &__container {
        border-bottom: 1px solid $color-divider;
        padding: 32px 0;
        display: grid;
        grid-template-columns: 476px 160px 88px;
        justify-content: space-around;
        align-content: center;
    }

    &__container-row {
        @include flex-row;
    }

    &__title {
        @include table-title;
    }
    &__btn-m {
        width: 20px;
        height: 20px;
        margin-left: 8px;
        background-image: url("/icons/sorting.svg");
        background-repeat: no-repeat;
        background-size: 20px;
        background-color: $color-white;
        background-position: center;
    }
    &__container-column {
        @include flex-column;
        justify-content: center;
    }
    &__btn-s {
        width: 12px;
        height: 12px;
        margin-left: 4px;
        background-image: url("/icons/info-gray.svg");
        background-repeat: no-repeat;
        background-size: 12px;
        background-color: $color-white;
        background-position: center;
    }
}
