@import "@/shared/styles/styles";

.header {
  @include flex-between;
  padding: 0 48px;
}

.menu-list {
  display: flex;
  gap: 36px;
}

.menu-item {
  @include text-btn-l;
}

.wrapper {
  @include flex-center;
  gap: 16px;
}

.active {
  opacity: $opacity-s;
}