@import "@/shared/styles/styles";

.employee {
  border-bottom: 1px solid $color-divider;

  :hover {
    background-color: $color-hover-link-brn;
  }

  :hover .employee__link {
    visibility: visible;
  }

  &__container {
    display: grid;
    grid-template-columns: 476px 160px 88px;
    justify-content: space-around;
    align-content: center;
    padding: 22px;
    position: relative;
  }

  &__data {
    @include flex-center;
  }

  &__info {
    margin-left: 20px;
  }

  &__avatar {
    @include size-image;
  }

  &__name {
    @include text-typing-l;
    margin-bottom: 4px;
  }

  &__position {
    @include text-typing-l;
    color: $color-text;
  }

  &__condition {
    @include flex-center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }

  &__text {
    @include text-typing-s;
  }

  &__link {
    background-image: url("/icons/edit.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 870px;
    right: 0;
    background-size: 18px;
    width: 24px;
    height: 24px;
    visibility: hidden;
  }
}
