@import "../../../shared/styles/mixins";
@import "../../../shared/styles/variables";
.sitebar {
    @include flex-column;

    &__container-btn {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 40px;
        

    }
 
    &__btn {
        width: 48px;
        height: 48px;
        background-image: url("../../../../public/icons/btn-back.svg");
        border: none;
        background-color: $color-white;
    }
    &__text-btn {
        @include text-btn-l;
        margin-left: 12px;
    }
    &__container-link {
        display: flex;
        align-items: center;
        padding: 12px;
        margin-bottom: 4px;
        
        &:last-child{
            margin-bottom: 0;  
        }
    }
    &__text {
        @include text-btn-s;
        margin-left: 10px;
    }
}
/*взять стиль для активной страницы*/
.active__gray{
    background-color: $color-grey-tertiary-btn;
        border-radius: $border-radius-m;

}

