@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.wrapper {
  max-width: 484px;
  width: 100%;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 20px;
  border-radius: $border-radius-xl;
  background-color: $color-hover-link-brn;

  & > div {
    @include flex-column;
    gap: 4px;

    & > span {
      @include table-title;
      color: $color-text;
      text-transform: uppercase;
    }

    & > p {
      @include text-typing-l;
      color: $color-black;
    }
  }
}
