@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.wrapper {
  @include flex-column;
  gap: 48px;

  & > h2 {
    @include h1-title;
    color: $color-black;
  }
}

.content {
  @include flex-column;
  gap: 64px;
}