$max-width: 1280px;

$color-red: #EF3124;
$color-blue: #2A77EF;
$color-light-blue: #D8EAFF;
$color-lime: #0CC44D;
$color-light-red: #FFDFDF;
$color-red-hover: #D63618;
$color-red-active: #C22204;
$color-black: #0E0E0E;
$color-divider: #D5D6DC;
$color-text: #898991;
$color-white: #FFFFFF;
$color-gray-900: #101828;
$color-gray-700: #344054;
$color-orange: #EA8313;
$color-light-orange: #FDE6C8;
$color-green: #0D9336;
$color-light-green: #D1F1D7;
$color-filed-grey-default: #E7E8EB;
$color-filed-grey-pressed: #EDEEF0;
$color-grey-active-btn: #DDDEE0;
$color-grey-tertiary-btn: #E7E8EA;
$color-hover-secondary-btn: #DCDDE0;
$color-field-grey-default: #E7E8EB;
$color-hover-link-brn: #F2F3F5;

$font-family-main: 'Roboto', sans-serif;

$border-radius-xs: 2px;
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 12px;
$border-radius-xl: 16px;
$border-radius-2xl: 20px;
$border-radius-3xl: 24px;
$border-radius-circle: 50%;

$opacity-s: 0.7;
$opacity-m: 0.5;

$transition-m: .5s;

$box-shadow-m: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
