@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.wrapper {
  @include flex-column;
  gap: 32px;

  & > h2 {
    @include h1-title;
  }
}

.list {
  display: flex;
  gap: 16px;
}

.card {
  width: 284px;
  height: 200px;
  padding: 32px;
  border-radius: $border-radius-l;
  background-color: $color-grey-tertiary-btn;
  overflow: hidden;
  position: relative;

  & > h4 {
    @include h3;
    color: $color-black;
  }

  & > img {
    position: absolute;
    right: 0;
    top: 0;
  }
}