@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: $border-radius-circle;
  position: absolute;
  left: 12px;
  top: 16px;
}

.container {
  position: relative;
}

.label {
  @include text-typing-l;
  align-self: flex-start;
  color: $color-text;
}

.input {
  @include text-typing-l;
  width: 100%;
  padding: 16px 12px;
  color: $color-black;
  border-radius: $border-radius-m;
  border: 1px solid transparent;
  background-color: $color-filed-grey-default;
  transition: $transition-m;

  &::placeholder {
    color: $color-text;
    opacity: $opacity-s;
  }

  &:hover {
    background-color: $color-hover-link-brn;
  }

  &:focus {
    border: 1px solid $color-black;
    background-color: $color-white;
  }

  &:disabled {
    opacity: $opacity-m;
    cursor: not-allowed;

    &:hover {
      background-color: $color-filed-grey-default;
    }
  }
}

.pl {
  padding-left: 44px;
}

.invalid {
  color: $color-red;
  border: 1px solid $color-red;
}

.error {
  @include text-typing-s;
  margin-top: 4px;
  display: block;
  color: $color-red;
}