@import "@/shared/styles/styles";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: $border-radius-circle;
  position: absolute;
  left: 12px;
  top: 16px;
}

.container {
  position: relative;
}

.label {
  @include text-typing-l;
  width: min-content;
  color: $color-text;
}

.input {
  @include text-typing-l;
  width: 100%;
  padding: 16px 12px;
  color: $color-black;
  border-radius: $border-radius-m;
  background-color: $color-filed-grey-default;

  &::placeholder {
    color: $color-text;
    opacity: $opacity-s;
  }

  &:focus {
    background-color: $color-hover-link-brn;
  }

  &:disabled {
    opacity: $opacity-m;
    cursor: not-allowed;
  }
}

.pl {
  padding-left: 44px;
}

.invalid {
  color: $color-red;
  border: 1px solid $color-red;
}

.error {
  @include text-typing-s;
  margin-top: 4px;
  display: block;
  color: $color-red;
}