@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.wrapper {
  display: flex;
  gap: 16px;
}

.button {
  padding: 0 10px;
  border-radius: 0;
  color: $color-text;

  &_active {
    color: $color-black;
    border-bottom: 3px solid $color-red;
  }
}