@import "@/shared/styles/styles";

.wrapper {
  display: flex;
  gap: 16px;
}

.button {
  border-radius: 0;
  color: $color-text;

  &_active {
    color: $color-black;
    border-bottom: 3px solid $color-red;
  }
}