@import '@/shared/styles/mixins';
@import '@/shared/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  @include text-typing-l;
  margin-bottom: 16px;
  color: $color-text;
}

.textarea {
  @include text-typing-l;
  width: 100%;
  min-height: 120px;
  padding: 16px 12px;
  color: $color-black;
  border-radius: $border-radius-m;
  background-color: $color-filed-grey-default;
  resize: none;

  &::placeholder {
    opacity: $opacity-s;
  }

  &:focus {
    background-color: $color-hover-link-brn;
  }

  &:disabled {
    opacity: $opacity-m;
    cursor: not-allowed;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-filed-grey-default;
  }

  &::-webkit-resizer {
    background-color: $color-filed-grey-default;
  }
}

.invalid {
  color: $color-red;
  border: 1px solid $color-red;
}

.error {
  @include text-typing-s;
  margin-top: 4px;
  color: $color-red;
}