@import "@/shared/styles/styles";

.container {
  @include flex-between;
  max-width: 1184px;
  margin: 0 auto;
  gap: 16px;
  padding: 32px 0;
  border-top: 1px solid $color-divider;
  border-bottom: 1px solid $color-divider;
}

.nav-list {
  @include flex-row;
  gap: 24px 16px;
}

.item {
  @include table-title;
  color: $color-black;
  max-width: 178px;
  width: 100%;
  width: 33.33%;
}

.wrapper {
  max-width: 239px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.logo {
  @include flex-row;
  gap: 16px;
}

.image {
  border-radius: $border-radius-xl;
  width: 40px;
  height: 40px;
}

.text {
  @include text-typing-s;
}

.text-xs {
  @include table-title;
}

.social {
  @include flex-between;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.link {
  display: block;
  border-radius: $border-radius-xl;
  width: 40px;
  height: 40px;
}

.link-img {
  border-radius: $border-radius-xl;
  width: 40px;
  height: 40px;
}

.support {
  @include flex-between;
  padding: 0 48px;
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 32px 0;
}

.help {
  @include text-typing-xs;
  color: $color-text;
}