@import "shared/styles/mixins";
@import "shared/styles/variables";

.main {
  @include flex-center;
  @include h3;
  flex: 1 0 auto;
  color: $color-red;
  border: 1px solid $color-gray-700;
  padding: 20px;
}
