@import "@/shared/styles/styles";

.wrapper {
  max-width: 884px;
}

.cards {
  @include flex-between;
}

.card {
  max-width: 434px;
  min-height: 232px;
  width: 100%;
  padding: 32px;
  background-color: $color-black;
  color: $color-white;
  border-radius: $border-radius-l;
  margin-top: 48px;
  position: relative;
}

.title {
  @include h1-title;
}

.heading {
  @include h3;
}

.text {
  @include text-typing-s;
  max-width: 250px;
  padding: 8px 0 32px;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
}