@import "../../../shared/styles/styles";

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  .logo__image {
    background-image: url(images/logo_image.svg);
    width: 48px;
    height: 48px;
  }

  .logo__text {
    color: $color-black;
    @include text-logo;
    letter-spacing: 0.72px;
  }
}